<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Showroom (2018-02-21 14:40)</string>
	<string>M9.0.2-6197-2</string>
	<string>M10.1-6913-2</string>
	<string>M11.1-7031.0.102-2</string>
	<string>M11.2-7032.0.145-2</string>
	<string>M12.0-7033.0.134-2</string>
	<string>M12.2.1-7035.0.161-2</string>
	<string>M13.1-7037.0.101-2</string>
	<string>M14.4-7043.0.93-4</string>
</array>
</plist>
